<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>House Price Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <!-- Correctly link the CSS file -->
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
  <div class="login">
    <h1>Predict House Price</h1>
    <form action="{{ url_for('predict') }}" method="post">
      <input type="text" name="number of bedrooms" placeholder="number of bedrooms" required="required" />
      <input type="text" name="number of bathrooms" placeholder="number of bathrooms" required="required" />
      <input type="text" name="living area" placeholder="living area" required="required" />
      <input type="text" name="lot area" placeholder="lot area" required="required" />
      <input type="text" name="number of floors" placeholder="number of floors" required="required" />
      <input type="text" name="Area of the house(excluding basement)" placeholder="Area of the house(excluding basement)" required="required" />
      <input type="text" name="Number of schools nearby" placeholder="Number of schools nearby" required="required" />
      <input type="text" name="Distance from the airport" placeholder="Distance from the airport" required="required" />
      <input type="text" name="City" placeholder="City" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    <br>
    <br>
    <h1 id="predi">
      {{ prediction_text }}
    </h1>

     <!-- Back Button -->
     <button onclick="redirectToMain()">Back</button>

     <script>
         function redirectToMain() {
             window.location.href = "http://127.0.0.1:5500/project3/templates/main.html";
         }
     </script>
  </div>
</body>

</html>