<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modern Machine Learning Property Prediction</title>
    <link rel="stylesheet" href="../static/style_,main.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="http://127.0.0.1:5500/project3/templates/main.html">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">About</a></li>
                <li><a href="http://127.0.0.1:5500/project3/templates/main.html">Predict Prices</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="hero">
            <h1>Modern Machine Learning Property Prediction</h1>
            <p>Discover real estate prices with our machine learning model.</p>
              
                <p>Select a model to proceed :</p>
                <a href="http://127.0.0.1:5000/" class="button1">House Price Prediction</a>
                <a href="http://127.0.0.1:5001/" class="button1">Land Price Prediction</a>
            </body>
            </html>
        </section>

    </main>
    <footer>
        <p>© 2025 Property Prediction AI</p>
    </footer
    <script src="../script.js"></script>
</body>
</html>