<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model</title>
    <link rel="stylesheet" href="D:\Github\learning\machine-learning\Project\project-testing\project1\frontend\style\styles.css"> 
    <!-- change link herf of style here   -->
</head>
<body>
    <header>
        <h1>Machine Learning Model</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">About</a></li>
                <li><a href="predict_option.html">Predict Prices</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="overlay"></div>
        <div class="content">
            <h2>Modern Machine Learning Property Prediction</h2>
            <p>Discover real estate price with machine learning Model.</p>
            <a href="D:\Github_Project\project_test\project1\templates\predict_option.html" class="link-button">Start Predicting</a>
        </div>
    </section>

    <section class="analytics">
        <div class="chart">
            <h3>House Price Details</h3>
            <div class="chart-placeholder">Chart Placeholder</div>
        </div>
        <div class="chart">
            <h3>Land Price Details</h3>
            <div class="chart-placeholder">Chart Placeholder</div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Property Prediction AI</p>
    </footer>
</body>
</html>
