<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Prices</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Machine Learning Model</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Predict Prices</a></li>
                <li><a href="#">Docs</a></li>
            </ul>
        </nav>
    </header>
    
    <section class="hero">
        <div class="overlay"></div>
        <div class="button-container">
            <a href="D:\Github_Project\project_test\project1\templates\house_price.html" class="link-button">House Price</a>
            <a href="property_price.html" class="link-button">Land Price</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Property Prediction AI</p>
    </footer>
</body>
</html>
